<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Sepet</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav class="navbar">
    <div class="navdiv">
        <div class="logo"><a href="/">Veilwood Sovereigns</a></div>
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/shop">Mağaza</a></li>
            <li><a href="/sepet">Sepet</a></li>
            <li><a href="/feedback">Müşteri Hizmetleri</a></li>
        </ul>
    </div>
</nav>
    <div class="overlay"></div>
    <div class="snow"></div>
    <div class="fog-overlay"></div>
<div class="containere">
    <h1>Sepetiniz</h1>

    {% if items %}
        <ul>
            {% for item in items %}
                <li>{{ item.name }} — ₺{{ item.price }}</li>
            {% endfor %}
        </ul>

        <h3>Toplam: ₺{{ total }}</h3>
    {% else %}
        <p>Sepetiniz boş.</p>
    {% endif %}
    <a href="/clear-cart">
    <button style="background: linear-gradient(135deg, #8b2f2f, #c94b4b);">
        Sepeti Temizle
    </button>
    </a>
    <a href="/shop"><button>Mağazaya Dön</button></a>
</div>


</body>
</html>
